*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

h1{
    text-align: center;
    background-color: aquamarine;
    padding: 50px;
}

.screen{
    text-align:center;
    font-size: 50px;
    padding: 50px;
    background-color: aquamarine;
}

.buttons{
    text-align: center;
   margin: 60px;
    background-color: aquamarine;
}

.buttons button{
    width: 80px;
    height: 80px;
    border:none;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(66, 170, 135);
}

button:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
